apiVersion: v1
kind: Secret
metadata:
  name: workload-app
  namespace: spire-federated-identities
stringData:
  AWS_ENABLED: "true"
  AWS_ROLE_ARN: "${ROLE_ARN}"
  AWS_WEB_IDENTITY_TOKEN_FILE: "/opt/app-root/src/spiffe-token-aws.txt"
  AWS_BUCKET_NAME: "${UNIQUE_NAME}"
  AWS_REGION: "${AWS_REGION}"
  AWS_AUDIENCE: "${SPIFFE_AUDIENCE}"
