apiVersion: v1
kind: Secret
metadata:
  name: workload-app
  namespace: spire-federated-identities
stringData:
  AZURE_ENABLED: "true"
  AAD_AUTHORITY: https://login.microsoftonline.com/
  AZURE_CLIENT_ID: "${IDENTITY_CLIENT_ID}"
  AZURE_TENANT_ID: "${TENANT_ID}"
  BLOB_STORE_ACCOUNT: "${STORAGE_NAME}"
  AZURE_AUDIENCE: "api://AzureADTokenExchange"
