apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://github.com/redhat-cop/gitops-catalog/zero-trust-workload-identity-manager/operator/overlays/${ZTWIM_OPERATOR_CHANNEL}

patches:
  - target:
      kind: Subscription
      name: openshift-zero-trust-workload-identity-manager
    patch: |-
      - op: replace
        path: /spec/channel
        value: '$ZTWIM_OPERATOR_CHANNEL'
